# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Gabriel Rodrigues\Desktop\Faculdade\2º ano\2º Semestre\Ricardo\forca-multijogador\Servidor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
